In [5]:
import pandas as pd

In [6]:
wmn_shoe = pd.read_csv('7210_1.csv', sep=',', header=None, error_bad_lines=False)

C:\Users\Chris\Anaconda3\envs\python2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5,10,12,13,14,16,18,20,21,22,24,25,29,30,32,33,36,38,40,41,44,45,46,47,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
men_shoe = pd.read_csv('7004_1.csv', sep=',', header=None, error_bad_lines=False)

Skipping line 251: expected 48 fields, saw 49
Skipping line 444: expected 48 fields, saw 50
Skipping line 847: expected 48 fields, saw 49
Skipping line 848: expected 48 fields, saw 49
Skipping line 1018: expected 48 fields, saw 49
Skipping line 1575: expected 48 fields, saw 51
Skipping line 2133: expected 48 fields, saw 49
Skipping line 2922: expected 48 fields, saw 51
Skipping line 3777: expected 48 fields, saw 51
Skipping line 4057: expected 48 fields, saw 49
Skipping line 4239: expected 48 fields, saw 49
Skipping line 4240: expected 48 fields, saw 49
Skipping line 4384: expected 48 fields, saw 49
Skipping line 4385: expected 48 fields, saw 49
Skipping line 5388: expected 48 fields, saw 49
Skipping line 5480: expected 48 fields, saw 49
Skipping line 5481: expected 48 fields, saw 49
Skipping line 5907: expected 48 fields, saw 50
Skipping line 5908: expected 48 fields, saw 50
Skipping line 6600: expected 48 fields, saw 49
Skipping line 6601: expected 48 fields, saw 49
Skipping line 6602: expected 48 fields, saw 49
Skipping line 6603: expected 48 fields, saw 49
Skipping line 7227: expected 48 fields, saw 49
Skipping line 7228: expected 48 fields, saw 49
Skipping line 7229: expected 48 fields, saw 49
Skipping line 7267: expected 48 fields, saw 51
Skipping line 9025: expected 48 fields, saw 49
Skipping line 9026: expected 48 fields, saw 49
Skipping line 9027: expected 48 fields, saw 49
Skipping line 9417: expected 48 fields, saw 50
Skipping line 10815: expected 48 fields, saw 49
Skipping line 11034: expected 48 fields, saw 50
Skipping line 11059: expected 48 fields, saw 49
Skipping line 11060: expected 48 fields, saw 49
Skipping line 11339: expected 48 fields, saw 50
Skipping line 11357: expected 48 fields, saw 49
Skipping line 11358: expected 48 fields, saw 49
Skipping line 11646: expected 48 fields, saw 49
Skipping line 11647: expected 48 fields, saw 49
Skipping line 12161: expected 48 fields, saw 50
Skipping line 12307: expected 48 fields, saw 49
Skipping line 12308: expected 48 fields, saw 49
Skipping line 12614: expected 48 fields, saw 49
Skipping line 12615: expected 48 fields, saw 49
Skipping line 12616: expected 48 fields, saw 49
Skipping line 12617: expected 48 fields, saw 49
Skipping line 12618: expected 48 fields, saw 49
Skipping line 12619: expected 48 fields, saw 49
Skipping line 12620: expected 48 fields, saw 49
Skipping line 12621: expected 48 fields, saw 49
Skipping line 12622: expected 48 fields, saw 49
Skipping line 12623: expected 48 fields, saw 49
Skipping line 12799: expected 48 fields, saw 49
Skipping line 14200: expected 48 fields, saw 49
Skipping line 14595: expected 48 fields, saw 49

Skipping line 16747: expected 48 fields, saw 49
Skipping line 16748: expected 48 fields, saw 49
Skipping line 16749: expected 48 fields, saw 49
Skipping line 16750: expected 48 fields, saw 49
Skipping line 16751: expected 48 fields, saw 49
Skipping line 16752: expected 48 fields, saw 49
Skipping line 16753: expected 48 fields, saw 49
Skipping line 17318: expected 48 fields, saw 49
Skipping line 17319: expected 48 fields, saw 49
Skipping line 17766: expected 48 fields, saw 49
Skipping line 17767: expected 48 fields, saw 49
Skipping line 18000: expected 48 fields, saw 52
Skipping line 18001: expected 48 fields, saw 52
Skipping line 18308: expected 48 fields, saw 51
Skipping line 19223: expected 48 fields, saw 52
Skipping line 19224: expected 48 fields, saw 52

C:\Users\Chris\Anaconda3\envs\python2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5,10,12,14,20,21,25,29,30,36,39,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [118]:
shoe.columns = shoe.iloc[0,:]

In [119]:
shoe.drop(0, inplace=True)

In [120]:
shoe.shape

(19387, 48)

In [121]:
shoe.columns

Index([u'id', u'asins', u'brand', u'categories', u'colors', u'count',
       u'dateAdded', u'dateUpdated', u'descriptions', u'dimension', u'ean',
       u'features', u'flavors', u'imageURLs', u'isbn', u'keys',
       u'manufacturer', u'manufacturerNumber', u'merchants', u'name',
       u'prices.amountMin', u'prices.amountMax', u'prices.availability',
       u'prices.color', u'prices.condition', u'prices.count',
       u'prices.currency', u'prices.dateAdded', u'prices.dateSeen',
       u'prices.flavor', u'prices.isSale', u'prices.merchant', u'prices.offer',
       u'prices.returnPolicy', u'prices.shipping', u'prices.size',
       u'prices.source', u'prices.sourceURLs', u'prices.warranty',
       u'quantities', u'reviews', u'sizes', u'skus', u'sourceURLs', u'upc',
       u'vin', u'websiteIDs', u'weight'],
      dtype='object', name=0)

In [122]:
shoe.brand.value_counts()[:25]

Nike                           1710
Ralph Lauren                    697
PUMA                            574
New Balance                     361
VANS                            356
Reebok                          275
adidas                          205
Jordan                          197
Superior Glove Works            187
Fossa Apparel                   174
Fuse Lenses                     174
Converse                        152
SKECHERS                        149
Dickies                         144
Unique Bargains                 142
Unbranded                       135
Crocs                           120
Berne Apparel                   116
TOMS                            115
Kinco                           110
National Safety Apparel Inc     107
Gameday Boots                   103
ASICS                           102
Under Armour                    100
Stacy Adams                      98
Name: brand, dtype: int64

In [123]:
sneak = shoe[(shoe.brand == 'Nike') | (shoe.brand == 'PUMA') |(shoe.brand == 'New Balance') |(shoe.brand == 'Reebok') |(shoe.brand == 'adidas') |(shoe.brand == 'Jordan') |(shoe.brand == 'ASICS') |(shoe.brand == 'Under Armour') | (shoe.brand == 'Converse')]

In [124]:
sneak.reset_index(drop = True, inplace=True)

In [131]:
sneak.drop(['id', 'asins', 'descriptions', 'reviews', 'skus', 'upc', 'categories', 'dimension', 'ean', 
            'imageURLs', 'isbn', 'keys', 'sourceURLs', 'vin', 'features', 'websiteIDs', 'weight',
           'prices.availability', 'prices.flavor', 'prices.size', 'prices.source', 'prices.warranty',
           'quantities', 'websiteIDs', 'count', 'flavors', 'prices.count',
           'manufacturerNumber'], axis=1, inplace=True)

ValueError: labels ['id' 'asins' 'descriptions' 'reviews' 'skus' 'upc' 'categories'
 'dimension' 'ean' 'imageURLs' 'isbn' 'keys' 'sourceURLs' 'vin' 'features'
 'websiteIDs' 'weight' 'prices.availability' 'prices.flavor' 'prices.size'
 'prices.source' 'prices.warranty' 'quantities' 'websiteIDs' 'count'
 'flavors' 'prices.count'] not contained in axis

In [129]:
sneak.head()

,brand,colors,dateAdded,dateUpdated,manufacturer,manufacturerNumber,merchants,name,prices.amountMin,prices.amountMax,...,prices.currency,prices.dateAdded,prices.dateSeen,prices.isSale,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.sourceURLs,sizes
0,PUMA,NaN,2016-11-11T09:50:34Z,2016-11-11T09:50:34Z,Puma,360999 01,"[{""dateSeen"":[""2016-11-11T09:50:34Z""],""name"":""...",Puma X Rise Blaze of Glory Round Toe Leather...,86.98,86.98,...,USD,2016-11-11T09:50:34Z,2016-11-09T00:00:00Z,TRUE,NaN,REDUCED USD 62.02,NaN,NaN,https://www.walmart.com/ip/Puma-x-Rise-Blaze-o...,"10,10.5,11,11.5,12,13,8,8.5,9,9.5"
1,PUMA,NaN,2016-11-11T09:50:34Z,2016-11-11T09:50:34Z,Puma,360999 01,"[{""dateSeen"":[""2016-11-11T09:50:34Z""],""name"":""...",Puma X Rise Blaze of Glory Round Toe Leather...,149,149,...,USD,2016-11-11T09:50:34Z,2016-11-09T00:00:00Z,FALSE,ApparelSave - Walmart.com,REDUCED USD 62.02,NaN,NaN,https://www.walmart.com/ip/Puma-x-Rise-Blaze-o...,"10,10.5,11,11.5,12,13,8,8.5,9,9.5"
2,adidas,Black,2016-03-04T05:29:39Z,2016-03-04T05:29:39Z,NaN,NaN,"[{""dateSeen"":[""2016-02-27T00:00:00Z""],""name"":""...",New Mens Adidas Ts Bounce Commander Black Bask...,14.99,14.99,...,USD,2016-03-04T05:29:39Z,2016-02-27T00:00:00Z,FALSE,NaN,winning bid,NaN,NaN,http://www.ebay.com/itm/NEW-MENS-ADIDAS-TS-BOU...,11.5
3,PUMA,White,2017-01-07T20:51:20Z,2017-01-07T20:51:20Z,Puma,353572 45,"[{""dateSeen"":[""2017-01-07T20:51:20Z""],""name"":""...",Puma Roma Basic Men Round Toe Canvas White Ru...,56.99,56.99,...,USD,2017-01-07T20:51:20Z,2017-01-05T00:00:00Z,TRUE,NaN,REDUCED USD 8.01,NaN,NaN,https://www.walmart.com/ip/Puma-Roma-Ripstop-M...,"10.5,11.5"
4,PUMA,White,2017-01-07T20:51:20Z,2017-01-07T20:51:20Z,Puma,353572 45,"[{""dateSeen"":[""2017-01-07T20:51:20Z""],""name"":""...",Puma Roma Basic Men Round Toe Canvas White Ru...,51.99,51.99,...,USD,2017-01-07T20:51:20Z,2016-11-06T00:00:00Z,TRUE,NaN,REDUCED USD 13.01,NaN,NaN,https://www.walmart.com/ip/Puma-Roma-Ripstop-M...,"10.5,11.5"

In [130]:
sneak.shape

(3676, 22)

In [127]:
val_count = {}
for i in sneak.columns:
    val_count[i] = sneak[i].value_counts().max()

In [128]:
val_count

{'brand': 1710,
 'colors': 383,
 'dateAdded': 24,
 'dateUpdated': 24,
 'manufacturer': 476,
 'manufacturerNumber': 24,
 'merchants': 22,
 'name': 24,
 'prices.amountMax': 98,
 'prices.amountMin': 99,
 'prices.color': 6,
 'prices.condition': 1787,
 'prices.currency': 3668,
 'prices.dateAdded': 21,
 'prices.dateSeen': 400,
 'prices.isSale': 2806,
 'prices.merchant': 582,
 'prices.offer': 362,
 'prices.returnPolicy': 15,
 'prices.shipping': 514,
 'prices.sourceURLs': 19,
 'sizes': 152}