In [116]:
import pandas as pd

In [117]:
shoe = pd.read_csv('7004_2.csv', sep=',', header=None, error_bad_lines=False)

In [118]:
shoe.columns = shoe.iloc[0,:]

In [119]:
shoe.drop(0, inplace=True)

In [120]:
shoe.shape

(19387, 48)

In [121]:
shoe.columns

Index([u'id', u'asins', u'brand', u'categories', u'colors', u'count',
       u'dateAdded', u'dateUpdated', u'descriptions', u'dimension', u'ean',
       u'features', u'flavors', u'imageURLs', u'isbn', u'keys',
       u'manufacturer', u'manufacturerNumber', u'merchants', u'name',
       u'prices.amountMin', u'prices.amountMax', u'prices.availability',
       u'prices.color', u'prices.condition', u'prices.count',
       u'prices.currency', u'prices.dateAdded', u'prices.dateSeen',
       u'prices.flavor', u'prices.isSale', u'prices.merchant', u'prices.offer',
       u'prices.returnPolicy', u'prices.shipping', u'prices.size',
       u'prices.source', u'prices.sourceURLs', u'prices.warranty',
       u'quantities', u'reviews', u'sizes', u'skus', u'sourceURLs', u'upc',
       u'vin', u'websiteIDs', u'weight'],
      dtype='object', name=0)

In [122]:
shoe.brand.value_counts()[:25]

Nike                           1710
Ralph Lauren                    697
PUMA                            574
New Balance                     361
VANS                            356
Reebok                          275
adidas                          205
Jordan                          197
Superior Glove Works            187
Fossa Apparel                   174
Fuse Lenses                     174
Converse                        152
SKECHERS                        149
Dickies                         144
Unique Bargains                 142
Unbranded                       135
Crocs                           120
Berne Apparel                   116
TOMS                            115
Kinco                           110
National Safety Apparel Inc     107
Gameday Boots                   103
ASICS                           102
Under Armour                    100
Stacy Adams                      98
Name: brand, dtype: int64

In [123]:
sneak = shoe[(shoe.brand == 'Nike') | (shoe.brand == 'PUMA') |(shoe.brand == 'New Balance') |(shoe.brand == 'Reebok') |(shoe.brand == 'adidas') |(shoe.brand == 'Jordan') |(shoe.brand == 'ASICS') |(shoe.brand == 'Under Armour') | (shoe.brand == 'Converse')]

In [124]:
sneak.reset_index(drop = True, inplace=True)

In [131]:
sneak.drop(['id', 'asins', 'descriptions', 'reviews', 'skus', 'upc', 'categories', 'dimension', 'ean', 
            'imageURLs', 'isbn', 'keys', 'sourceURLs', 'vin', 'features', 'websiteIDs', 'weight',
           'prices.availability', 'prices.flavor', 'prices.size', 'prices.source', 'prices.warranty',
           'quantities', 'websiteIDs', 'count', 'flavors', 'prices.count',
           'manufacturerNumber'], axis=1, inplace=True)

ValueError: labels ['id' 'asins' 'descriptions' 'reviews' 'skus' 'upc' 'categories'
 'dimension' 'ean' 'imageURLs' 'isbn' 'keys' 'sourceURLs' 'vin' 'features'
 'websiteIDs' 'weight' 'prices.availability' 'prices.flavor' 'prices.size'
 'prices.source' 'prices.warranty' 'quantities' 'websiteIDs' 'count'
 'flavors' 'prices.count'] not contained in axis

In [129]:
sneak.head()

,brand,colors,dateAdded,dateUpdated,manufacturer,manufacturerNumber,merchants,name,prices.amountMin,prices.amountMax,...,prices.currency,prices.dateAdded,prices.dateSeen,prices.isSale,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.sourceURLs,sizes
0,PUMA,NaN,2016-11-11T09:50:34Z,2016-11-11T09:50:34Z,Puma,360999 01,"[{""dateSeen"":[""2016-11-11T09:50:34Z""],""name"":""...",Puma X Rise Blaze of Glory Round Toe Leather...,86.98,86.98,...,USD,2016-11-11T09:50:34Z,2016-11-09T00:00:00Z,TRUE,NaN,REDUCED USD 62.02,NaN,NaN,https://www.walmart.com/ip/Puma-x-Rise-Blaze-o...,"10,10.5,11,11.5,12,13,8,8.5,9,9.5"
1,PUMA,NaN,2016-11-11T09:50:34Z,2016-11-11T09:50:34Z,Puma,360999 01,"[{""dateSeen"":[""2016-11-11T09:50:34Z""],""name"":""...",Puma X Rise Blaze of Glory Round Toe Leather...,149,149,...,USD,2016-11-11T09:50:34Z,2016-11-09T00:00:00Z,FALSE,ApparelSave - Walmart.com,REDUCED USD 62.02,NaN,NaN,https://www.walmart.com/ip/Puma-x-Rise-Blaze-o...,"10,10.5,11,11.5,12,13,8,8.5,9,9.5"
2,adidas,Black,2016-03-04T05:29:39Z,2016-03-04T05:29:39Z,NaN,NaN,"[{""dateSeen"":[""2016-02-27T00:00:00Z""],""name"":""...",New Mens Adidas Ts Bounce Commander Black Bask...,14.99,14.99,...,USD,2016-03-04T05:29:39Z,2016-02-27T00:00:00Z,FALSE,NaN,winning bid,NaN,NaN,http://www.ebay.com/itm/NEW-MENS-ADIDAS-TS-BOU...,11.5
3,PUMA,White,2017-01-07T20:51:20Z,2017-01-07T20:51:20Z,Puma,353572 45,"[{""dateSeen"":[""2017-01-07T20:51:20Z""],""name"":""...",Puma Roma Basic Men Round Toe Canvas White Ru...,56.99,56.99,...,USD,2017-01-07T20:51:20Z,2017-01-05T00:00:00Z,TRUE,NaN,REDUCED USD 8.01,NaN,NaN,https://www.walmart.com/ip/Puma-Roma-Ripstop-M...,"10.5,11.5"
4,PUMA,White,2017-01-07T20:51:20Z,2017-01-07T20:51:20Z,Puma,353572 45,"[{""dateSeen"":[""2017-01-07T20:51:20Z""],""name"":""...",Puma Roma Basic Men Round Toe Canvas White Ru...,51.99,51.99,...,USD,2017-01-07T20:51:20Z,2016-11-06T00:00:00Z,TRUE,NaN,REDUCED USD 13.01,NaN,NaN,https://www.walmart.com/ip/Puma-Roma-Ripstop-M...,"10.5,11.5"

In [130]:
sneak.shape

(3676, 22)

In [127]:
val_count = {}
for i in sneak.columns:
    val_count[i] = sneak[i].value_counts().max()

In [128]:
val_count

{'brand': 1710,
 'colors': 383,
 'dateAdded': 24,
 'dateUpdated': 24,
 'manufacturer': 476,
 'manufacturerNumber': 24,
 'merchants': 22,
 'name': 24,
 'prices.amountMax': 98,
 'prices.amountMin': 99,
 'prices.color': 6,
 'prices.condition': 1787,
 'prices.currency': 3668,
 'prices.dateAdded': 21,
 'prices.dateSeen': 400,
 'prices.isSale': 2806,
 'prices.merchant': 582,
 'prices.offer': 362,
 'prices.returnPolicy': 15,
 'prices.shipping': 514,
 'prices.sourceURLs': 19,
 'sizes': 152}